 # Ignorar apenas arquivos temporários e dependências geradas do iOS
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/Podfile.lock

